<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


<div class="container text">
    <div class="header">
        <div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button" >Usuarios y periodistas</button>
                <button class="btn btn-primary" type="button" th:href="@{/noticia/registrar}">Crear nueva noticia</button>
                <button class="btn btn-primary" type="button">Modificar mis datos</button>
                <button class="btn btn-primary me-md-2" type="button" th:href="@{/logout}">Cerrar sesion</button>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h1>NOTICIAS</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" th:each=" noticia : ${noticias}">
                <div class="card text-center mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${noticia.titulo}">titulo noticia</h5>
                        <a th:href="@{noticia/__${noticia.id}__}" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>